#Folders
.vscode/
.venv/
# ignore ALL .log files
*.log
#ignore MacBook DS_Store
.DS_Store
#ignore temporal run folder
/run
#ignore certs and secrets
*.crt
*.key
*.csr
*.pem
*.pub
*.p12
#Templates
deployments/Provisioner/docker/flask/template/*.json

